# Dictionary
* Dictionaries are used to store data values in key:value pairs.
* A dictionary is a colection which is ordered,changable and donot allow duplicate keys.

In [ ]:
# Creating empty dictionary
d = {}
type(d)

In [ ]:
d1 = dict()
type(d1)

In [ ]:
d1

# Defining your own dictionary

In [ ]:
about = {
    'name': 'Smriti',
    'lives_at':'Thecho',
    'age':20,
    'studies': ['python','DS','ML','AI']
}
print(about)

# Accessing values of a dictionary using keys

In [1]:
about['age']

NameError: name 'about' is not defined

In [ ]:
about['studies']

In [ ]:
about['name']

In [ ]:
about['lives_at']

In [ ]:
# Another method
about.get('studies') # key lai get garni

In [ ]:
about.get('age')

In [ ]:
about.get('lives_at')

In [ ]:
about['works_at']

In [ ]:
output=about.get('works_at') # Safer option if key is not given
print(output)

In [ ]:
output = about.get('works_at',[]) # if works_at donot exist return []
output

# Adding key value pair in dictionary

In [ ]:
about = {
    'name': 'Smriti',
    'lives_at':'Thecho',
    'age':20,
    'studies': ['python','DS','ML','AI']
}

In [7]:
about['works_at'] = ['Broadway']
about

{'name': 'Smriti',
 'lives_at': 'Thecho',
 'age': 20,
 'studies': ['python', 'DS', 'ML', 'AI'],
 'works_at': ['Broadway']}

In [ ]:
about['Semester']= 'Fifth'
about

In [ ]:
about['Studies_at'] = 'Padmakanya Campus'
about

In [ ]:
# Another method

In [ ]:
about.update({'ph_no':10000})# .update() expects dictionary as input
about

# Other methods of dictionary

In [ ]:
about

In [ ]:
about.keys() #List of keys in dictionary

In [ ]:
about.values()

In [8]:
about.items() # tuple ma dinxa

dict_items([('name', 'Smriti'), ('lives_at', 'Thecho'), ('age', 20), ('studies', ['python', 'DS', 'ML', 'AI']), ('works_at', ['Broadway'])])

In [9]:
for key_value_pair in about.items():
    print(key_value_pair)

('name', 'Smriti')
('lives_at', 'Thecho')
('age', 20)
('studies', ['python', 'DS', 'ML', 'AI'])
('works_at', ['Broadway'])

In [ ]:
key,val = ('name','Smriti')
key

In [ ]:
val

In [10]:
for key,val in about.items():
    print(f"The key value is {key} and the value is {val}")

The key value is name and the value is Smriti
The key value is lives_at and the value is Thecho
The key value is age and the value is 20
The key value is studies and the value is ['python', 'DS', 'ML', 'AI']
The key value is works_at and the value is ['Broadway']

In [ ]:
# Key value pair delete garnu paryo vani pop use hunxa

# pop

In [ ]:
d = {
    'id': 3,
    'url' : 'https//broadway.com',
    'title': ' DAta Science',
    'time':'9AM'
}
d.pop('time')

In [ ]:
d

In [ ]:
d = {
    'id': 3,
    'url' : 'https//broadway.com',
    'title': ' DAta Science',
    'time':'9AM'
}

# If a dictionary already contains key:value pair

In [ ]:
d.update({'time' :'10AM'}) # key update garne haina value update garne ho
d

# Swap the key value pair of given dictionary.

In [ ]:
data = {
    1:'One',
    2:'Two'
}
data

# Dictionary Comprehension

In [15]:
data = {
    1:'One',
    2:'Two'
     
}
data
{val:key for key,val in data.items()}

{'One': 1, 'Two': 2}

In [4]:
about = {
    'name': 'Smriti',
    'lives_at':'Thecho',
    'age':20,
    'studies': ['python','DS','ML','AI']
}
about.items() # tuple ma dinxa
for key_value_pair in about.items():
    print(key_value_pair)

('name', 'Smriti')
('lives_at', 'Thecho')
('age', 20)
('studies', ['python', 'DS', 'ML', 'AI'])

In [16]:
data.items()

dict_items([(1, 'One'), (2, 'Two')])

# Some examples of dictionary

In [17]:
my_dict = {1:'apple',2:'ball'}
my_dict[2]

'ball'

In [ ]:
my_dict.get(2)

# Nested dictionary

In [19]:
child= {
    'child1':{'name':'Smriti','age' : 20,'gender':'Female'},
    'child2':{'name':'Jenu','age':21,'gender':'Female'}
}

In [20]:
child['child2']

{'name': 'Jenu', 'age': 21, 'gender': 'Female'}

In [ ]:
child['child2']['age']

In [ ]:
child['child1']['gender']

In [ ]:
child.get('child2')

In [ ]:
child.get('child1').get('age')

In [ ]:
child.keys()

In [21]:
# [{}{}]
data = []
for i in range(2):
    name = input("Enter your name:")
    age = input("Enter your age:")
    d = {
        'name' : name ,'age': age
    }
  
    data.append(d)

Enter your name:ram
Enter your age:2
Enter your name:shyam
Enter your age:3

In [23]:
[{'name': input("Enter your name :"),'age': input("Enter your age:") }for i in range(2)]

Enter your name :ram
Enter your age:2
Enter your name :gita
Enter your age:3

[{'name': 'ram', 'age': '2'}, {'name': 'gita', 'age': '3'}]

In [2]:
[{"name": input("Enter your name"), "age": input("Enter your age")} for i in range(2)]

Enter your namesmriti
Enter your age20
Enter your nameiiya
Enter your age2

[{'name': 'smriti', 'age': '20'}, {'name': 'iiya', 'age': '2'}]

# Enumerate() 
* Index ra value chaiyo vani enumerate lagauni

In [25]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

# To loop over two or more sequences at the same time, the entries can be paired with the zip() function.

In [27]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))
   # print(f"What is your{q}? Is it{a}")

What is yourname? Is itlancelot
What is yourquest? Is itthe holy grail
What is yourfavorite color? Is itblue