#Reusability ko lagi function

In [13]:
a = 5
b = 6
prod = a*b
prod

30

# Syntax
```python

def function_name(arguments):
    # function suit/code
    return Expression

```

In [16]:
def multiply():
    a = 5
    b = 6
    prod = a*b
    print(prod)

In [15]:
multiply()

# Passing a,b as an argument

In [17]:
def multiply (a,b):
    prod = a*b
    print(prod)

In [18]:
multiply()

TypeError: multiply() missing 2 required positional arguments: 'a' and 'b'

In [19]:
a = 9
b = 3
multiply(a = a,b=b)

27

In [20]:
x = 9
y = 6
output = multiply(a = x, b=y)

54

In [21]:
print(output)

NameError: name 'output' is not defined

In [ ]:
def multiply(a,b): # a, b are arguments or parameters
    prod = a*b
    return prod

In [22]:
x = 8
y = 3
output = multiply(a = x, b=y)
print(output)

24
None

In [3]:
output + 3

NameError: name 'multiply' is not defined

In [4]:
# Calculate the volume of sphere

import math
def volume(radius):
    volume = 4/3*math.pi*radius**3
    return volume

In [29]:
radius = int(input("Enter the radius:"))
volume = volume(radius = radius)
print(volume)

Enter the radius:5
523.5987755982989

In [35]:

def even_or_odd (num):
    if num % 2 == 0:
        return "even"
    else:
        return "odd"

In [36]:
even_or_odd(55)

'odd'

In [ ]:

0! = 1
1! = 1
2! = 2
3! = 3*2 = 6

In [38]:
# Find Factorial
def factorial(num):
    fact = 1
    if num<0:
        return None
    elif num == 0:
        return 1
    else:
        for i in range(1,num +1): # 6 diyo vani 5 samma matra chalxa, last ko value lidaina teivara +1 garna parya
            fact = fact * i
        return fact

In [39]:
factorial (num= 6)

720

# 1.  Check whether the given input  is prime or not. If prime return true else return false.

In [10]:
def prime_or_not(num):
     for i in range(2, int(num/2)+1):
        if (num % i) == 0:
          print("False")
        else:
            print("True")

In [32]:
def prime_or_not(input_num):
    if input_num<2:
        return None
    for number in range(2,input_num):
        if input_num % num ==0:
            return False
        else:
            return True

In [38]:
prime_or_not(2)

# 2. Write a python program that takes a list and returns a new list with the unique elements of first list.

In [28]:
def unique_list(numbers):
    unique = []
    for item in numbers :
        if item in unique == False:
            unique.append(item)
    return unique

In [29]:
numbers = [1, 2, 2, 3, 4, 4, 5]
result = unique_list(numbers)
print("Unique elements:", result)

Unique elements: []

# 3. Write a python function that accepts a string and calculate the number of upper case and lower case letters.

In [28]:
s = 'NePal'
'N'.isupper(),'N'.islower()

(True, False)

In [30]:
lower= 0
upper = 0
for charcter in s:
    if character.isupper():
        upper = upper+1
    elif charcter.islower():
        lower = lower +1

NameError: name 'character' is not defined

In [1]:
def count_upper_lower_letters(input_string):
    upper_count = 0
    lower_count = 0
    for char in input_string:
        if char.isupper():  # Check if the character is an uppercase letter
            upper_count =upper_count+ 1
        elif char.islower():
            lower_count =lower_count+ 1
    return upper_count, lower_count

input_str = input("Enter the string:")
upper, lower = count_upper_lower_letters(input_str)
print("Uppercase letters:", upper)
print("Lowercase letters:", lower)

Enter the string:Smriti
Uppercase letters: 1
Lowercase letters: 5

# 4.Write a python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically.

In [4]:
def sort_words(input_str):
    words = input_str.split('-')
    sorted_words = sorted(words)
    sorted_sequence = '-'.join(sorted_words)
    print(sorted_sequence)
input_sequence = input("Enter the input sequence:")
sort_words(input_sequence)

Enter the input sequence:hi-smriti-how-are-you
are-hi-how-smriti-you

In [34]:
color = 'green-red-yellow-black-white'
words = color.split("-")
words

['green', 'red', 'yellow', 'black', 'white']

In [35]:
sorted_words = sorted(words)
sorted_words

['black', 'green', 'red', 'white', 'yellow']

In [36]:
"-".join(sorted_words)

'black-green-red-white-yellow'