# List is a mutable data type

In [1]:
fruits = ['apple','banana','mango','orange','pear']
fruits[2]

'mango'

In [2]:
fruits

['apple', 'banana', 'mango', 'orange', 'pear']

In [3]:
fruits[2]='kiwi'
fruits

['apple', 'banana', 'kiwi', 'orange', 'pear']

In [5]:
fruits = ['apple','banana','mango','orange','pear']
fruits [1:3] = ['blackcurranrt','watermelon']
fruits

['apple', 'blackcurranrt', 'watermelon', 'orange', 'pear']

# Methods

# insert()

In [6]:
cars = ['Mercedes','BMW','Tesla','Ferrari']
cars

['Mercedes', 'BMW', 'Tesla', 'Ferrari']

In [7]:
cars.insert(3,'Thar') # ferrari ek index paxi janxa
cars

['Mercedes', 'BMW', 'Tesla', 'Thar', 'Ferrari']

#.remove()

In [10]:
cars = ['Mercedes','BMW','Tesla','Ferrari','Tesla']
cars.remove("Tesla") # removes only first occurance if duplicate
cars

['Mercedes', 'BMW', 'Ferrari', 'Tesla']

# .extend()

In [11]:
l1 = [2,4,6]
l2 = [1,3,5,7]
l1 + l2 # '+' concatenates the list

[2, 4, 6, 1, 3, 5, 7]

In [12]:
l1 = [2,4,6]
l2 = [1,3,5,7]
l1.extend(l2) # list ma variable assign garna pardaina list is mutable  . extend garyo vani first ra send concat hunxa
l1

[2, 4, 6, 1, 3, 5, 7]

In [13]:
l2

[1, 3, 5, 7]

# Sorting

In [14]:
l1 = [ 3,0,-6,-2,-5,2,1]
l1.sort() # by default ascending ma hunxa
print(l1)

[-6, -5, -2, 0, 1, 2, 3]

In [15]:
l1 = [ 3,0,-6,-2,-5,2,1]
l1.sort(reverse = True)  # descending; also updates list
print(l1)

[3, 2, 1, 0, -2, -5, -6]

In [18]:
l1 = [ 3,0,-6,-2,-5,2,1]
l1 = l1.sort() 
print(l1) # list method apply garda variable assign garna hudaina kina? List is a mutable, method returns none.

None

In [19]:
l1 = [ 3,0,-6,-2,-5,2,1]
sorted_data = sorted(l1, reverse = True) # sorted is a built- in-storing function of python
sorted_data

[3, 2, 1, 0, -2, -5, -6]

# .append()

In [25]:
# create empty list
name = []
name

[]

In [24]:

name.append('Smriti')
name

['Smriti']

In [27]:
name.append("Jenu")
name

['Jenu', 'Jenu']

In [28]:
name.append('Iliya')
name

['Jenu', 'Jenu', 'Iliya']

In [31]:
l1 = [2,3,5,8,9]
sq = []
for item in l1:
    print(sq)
    sq.append(item **2)
sq

[]
[4]
[4, 9]
[4, 9, 25]
[4, 9, 25, 64]

[4, 9, 25, 64, 81]

In [30]:
l1 = [2,3,5,8,9]
cube = []
for item in l1:
    cube.append(item**3)
cube

[8, 27, 125, 512, 729]

In [32]:
l1 = [2,3,5,8,9]
l1.pop()
l1

[2, 3, 5, 8]

In [34]:
# We can define index to remove items using pop.
l1 = [ 3,0,-6,-2,-5,2,1]
l1.pop(2)
l1

[3, 0, -2, -5, 2, 1]

# Using python list as stack and queue.
stack:
* LIFO
* push method : .append() push item in stack
* pop method:  .pop() pops out last item in stack.

Queue:
* FIFO
* enqueue :adds item to the queue
* dequeue : removes item of the queue

In [35]:
# stack
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

stack.pop()

stack

stack.pop()

stack

[3, 4]

[List Mehods and List as stack and queue](https://docs.python.org/3/tutorial/datastructures.html)