# Tuples
* Collection of item under one variable name
* Immutable
* allows duplicate , ordered, indexed, aloows multiple data type.
* written inside round brackets () separated by comma

In [3]:
t1 = ('Kathmandu', 'Bhaktpur','lalitpur')
type(t1)

tuple

In [4]:
t1[2]

'lalitpur'

In [5]:
t1[2] = 'Patan'

TypeError: 'tuple' object does not support item assignment

In [6]:
l1 = ['Kathmandu', 'Bhaktpur','lalitpur'] # if it was list
l1[2] = 'Patan'
l1

['Kathmandu', 'Bhaktpur', 'Patan']

# Type Casting

In [8]:
city = ('Kathmandu', 'Bhaktpur','lalitpur')
print(id(city),city,type(city))

2309037152128 ('Kathmandu', 'Bhaktpur', 'lalitpur') <class 'tuple'>

In [11]:
 # Suppose i want to add kavre on city variable
city = list(city)
print(id(city),city,type(city))
city.append('kavre')
city = tuple(city)
print(id(city),city,type(city))

2309023089792 ['Kathmandu', 'Bhaktpur', 'lalitpur'] <class 'list'>
2309037605248 ('Kathmandu', 'Bhaktpur', 'lalitpur', 'kavre') <class 'tuple'>

# Indexing and Slicing

In [13]:
t = (2,4,6,8,10)
t[0]

2

In [14]:
t[3:-1]

(8,)

In [16]:
# Calculate total in t and mean
t = (7,4,22,5,7,9,0)
total = 0
n = 7
for item in t:
    total = total + item
    mean = total/n
mean

7.714285714285714

In [17]:
t = (7,4,22,5,7,9,0)
total = 0
n = 7
for item in t:
    total = total + item
total

54

# Tuple Unpacking

In [18]:
a,b = (44,2)
a

44