In [2]:
first name = smriti # j pani variable name lekhna paidaina

SyntaxError: invalid syntax (1404658576.py, line 1)

# keywords cannot be variable name
* Keywords are predefined words
* We cannot use a keyword as a variable name, function name or any other identifier
* They are used to define the syntax and structure of the python language\
* In python, keywords are case sensitive

In [3]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [4]:
from = 2

SyntaxError: invalid syntax (3216551983.py, line 1)

Python is a case sensitive language.
Upper case and lowercase are different.
Sql is case insensitive language.

False and false are different so python keywords ae case sensitive.

In [7]:
a = 'arc'
A = 'Apple'
print(f'a = {a}')# f lai format string vanxa
print(f'A = {A}')

a = arc
A = Apple

In [10]:
a = 'arc'
A = 'Apple'#curly bracket khali xodeko matlab placeholder xodeko ho
print('a = {}'.format(a))

a = arc

# We cannot use special characters in variable name

In [12]:
@name = 'Smriti'

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3724964849.py, line 1)

In [13]:
$place = tinkune

SyntaxError: invalid syntax (4002297418.py, line 1)

We cannot use space bar and dash in variable name.

We can use underscores in variable name

first_name = 'Smriti' #first name as a variable name pani paudaina ra first-name pani paudaina

<img src="https://media.istockphoto.com/id/637696304/photo/patan.jpg?s=612x612&w=0&k=20&c=-53aSTGBGoOOqX5aoC3Hs1jhZ527v3Id_xOawHHVPpg=">

<img src="https://media.istockphoto.com/id/637696304/photo/patan.jpg?s=612x612&w=0&k=20&c=-53aSTGBGoOOqX5aoC3Hs1jhZ527v3Id_xOawHHVPpg=">

Digits cant be variable name and digit cannot come first on the variable name. However they can come after character or letters.

In [4]:
1name = Smriti # not allowed beacuse digit is at first

SyntaxError: invalid decimal literal (4182847057.py, line 1)

In [5]:
name1 = "Smriti"
name1

'Smriti'

# Combination of all alphabets are allowed(uppercase and lowecase both), Digits can follow alphabets

In [6]:
pet_name = "cat"#snake_case : sabailai lowercase harulai unserscore le jodne

In [7]:
MyName = Smriti # pascal case

NameError: name 'Smriti' is not defined